body {
  background-color: whitesmoke;
}
.centrr {
  max-width: 500px;
  margin: auto;
  /* background: white; */
  padding: 15px;
  height: 90%;
}
.row {
  margin: 40px;
}
input {
  margin-top: 20px;
}
.sign {
  background-color: #4caf50; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
input.input {
  border-radius: 10px;
  padding: 15px;
  border: none;
  width: 40%;
  box-shadow: 0 0 4px rgb(46, 49, 49);
}
input:focus.input,
textarea:focus.input {
  box-shadow: 0 0 5px rgb(43, 194, 236);
  border: 1px solid rgb(57, 200, 240);
  outline: none;
}
.dob {
  width: auto;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 4px rgb(46, 49, 49);
  outline: none;
}
.dob:focus {
  box-shadow: 0 0 5px rgb(43, 194, 236);
  border: 1px solid rgb(57, 200, 240);
}
.container {
  display: inline;
  /* position: relative; */
  /* padding-left: 35px; */
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}
